doctype html
html.no-js(lang='en', ng-app='ideApp')
    head
        title= title
        link(rel='stylesheet', href='bootstrap/dist/css/bootstrap.min.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        block content

        script(type='text/javascript', src='ace-builds/src-min-noconflict/ace.js')
        script(type='text/javascript', src='angular/angular.js')
        script(type='text/javascript', src='angular-ui-ace/ui-ace.js')
        script(type='text/javascript', src='angular-route/angular-route.js')
        script(type='text/javascript', src='angular-animate/angular-animate.js')
        script(src='//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
        script(type='text/javascript', src='bootstrap/dist/js/bootstrap.min.js')
        script(type='text/javascript', src='javascripts/routes.js')